@use  '../BookReviewer/global/typography';
@import 'global';


*{
font-family: typography.$global-font-family;
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

.LandingPage {
    display: flex;

   z-index: 0;
   margin: 0 0;
   object-fit:scale-down;
   background-color: #3D284F;
  

  
}
.LandingPage::after{
    background-image: url('../BookReviewer/pictures/hh.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center  ;

    content:"";
    opacity: 0.6;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}






.footer{
    display:flex;
    position:fixed;
    width:100%;
    padding:20px;
    bottom:0;
    top:738px;
    left:50%;
    transform: translateX(-50%);
    right:0;

    .buttons_footer{
        text-align:center;
        margin:4px 2px;
        left:85%;
        position:absolute;
        bottom:20%;

        .signupButton{
            width:105px;
            height:35px;
            background-color:#b790c2;
            color:#e3cedd;
            border-radius:1rem;
            padding:0;
            border:0;
            margin-right: 1rem;
            background:#b790c2;
            font-size:medium;
           
            


        }

    }

    @media (max-width: 768px) {
        .footer {
            padding: 10px;
        }

        .buttons_footer {
            bottom: 10px;
        }

        .signupButton {
            width: 90px;
            height: 30px;
        }
    }


}




.Writing{
    align-self: flex-end;
    margin-top:400px;
    padding-left:60px;

    .Text{
        font-size:96px;
        color:#e3cedd;
        margin-bottom:0;
    }
    .Text2{
        font-size:96px;
        color:#e3cedd;
        margin-top:0;
        margin-bottom:0
    }
    .line{
        margin:0;
        padding:0;
        color:#3d284f
    }
    .SubText{
        font-size:60px;
        color:#e3cedd;
        margin-top:1rem;}

        @media (max-width: 768px) {
            padding-left: 20px;
    
            .Text,
            .Text2 {
                font-size: 60px;
            }
    
            .SubText {
                font-size: 40px;
            }
    
            margin-top: 200px;
        }
        
}














