.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #3D284F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  justify-content: space-evenly;
  justify-items: center;
  background-color: rgba(61, 40, 79, 0.7);
  padding-left: 20%;
}
.container .hover-text {
  position: relative;
  align-self: center;
  padding: 10px 20px;
  font-size: 2rem;
  color: #E3CEDD;
  transition: background-color 0.3 ease;
  align-self: center;
}
.container .loginButton {
  align-self: flex-end;
  z-index: 999;
  width: 105px;
  height: 35px;
  border-radius: 1rem;
  padding: 0;
  border: 0;
  background: #B790C2;
  color: #E3CEDD;
  font-size: medium;
  background-color: #714e7d;
}

.header_BOO {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: #fff;
  color: #3D284F;
}
.header_BOO .logo__image {
  max-width: 60px;
}
.header_BOO .search {
  display: flex;
  align-items: center;
}
.header_BOO .search .search__input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  max-width: 100px;
}
.header_BOO .search .search__button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #714E7D;
  border: none;
  border-color: #3D284F;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.header_BOO .nav {
  display: flex;
  position: relative;
}
.header_BOO .nav .nav__list {
  list-style-type: none;
  display: flex;
}
.header_BOO .nav .nav__list .nav__item {
  margin-right: 20px;
}
.header_BOO .nav .nav__list .nav__item .a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.header_BOO .nav .nav__item_special:hover .nav_dropdown {
  text-decoration: none;
  display: block;
}
.header_BOO .nav .nav__item_special {
  list-style-type: none;
}
.header_BOO .nav .nav__item_special .nav_dropdown {
  list-style-type: none;
  width: 100%;
  background: #B790C2;
  position: absolute;
  z-index: 999;
  display: none;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li {
  display: block;
}
@media screen and (max-width: 600) {
  .header_BOO .search {
    flex-direction: column;
  }
  .header_BOO .search .search__input {
    margin-bottom: 5px;
    width: auto;
  }
}

.body {
  width: auto;
  margin: 0;
  padding: 0;
}

.block_container {
  position: fixed;
  z-index: 400;
  display: block;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  max-width: auto;
  margin-inline: auto;
  min-height: auto;
}
.block_container .feed_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 450;
  width: 100vw;
  height: 100vh;
  background-color: #e3cedd;
}
.block_container .feed_container .feed_container_side {
  z-index: 460;
  width: 27%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding-bottom: 0px;
  background-color: #fff;
}
.block_container .feed_container .feed_container_side .profile {
  text-align: center;
  padding: 20px;
}
.block_container .feed_container .feed_container_side .profile .profile__image {
  max-width: calc(100% - 40px);
  border-radius: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .block_container .feed_container .feed_container_side .profile .profile__image {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    border-radius: 10px;
  }
}
.block_container .feed_container .feed_container_side .profile .profile__buttons {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.block_container .feed_container .feed_container_side .profile .profile__buttons .profile__button {
  padding: 8px 16px;
  margin: 10px 5px;
  font-size: 14px;
  background-color: #B790C2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.block_container .feed_container .feed_container_side .profile .profile__buttons .profile__button:hover {
  background-color: #714E7D;
}
.block_container .feed_container .feed_container_side .profile .profile__buttons .profile__button:focus {
  outline: none;
}
.block_container .feed_container_main_feed {
  z-index: 461;
  width: 73%;
  height: 1auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */